
* {
    margin: 0;
    padding: 0;
}

/* a:focus {outline: 3px solid #005BD3;} */

a {
    text-decoration: none;
    color: #303030;
}

body {
    background-color: #f1f1f1;
    font-family: 'Inter';
}

/* Styling the header area */
header {
    padding: 12px 16px;
    background-color: #1C181D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMobile {
    display: none;
}

label {
    display: flex;
    background-color: #322F33;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #616161;
    gap: 8px;
    align-items: center;
    width: 480px;
}

label:focus-within{
    border: 2px solid var(--White, #FFF);
    background: var(--grey-g-200, #303030);
}

label input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 500;
}

label input::placeholder {
    color: #b5b5b5;
}

/* Tag(Notification/Store Name Styling */
nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.notify .notifyButton {
    background-color: #303030;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    border: none;
}

.notifyButton:hover {
    background-color: #616161;
}

.notifyButton:focus{
    background: #656266;
    outline: none;
    border: 2px solid #005BD3;
}



.drop {
    position: absolute;
    visibility: hidden;
    top: 75px;
    background: #fff;
    padding: 16px;
    right: 15px;
    border-radius: 14px;
    border: 1px solid #dbdbdb;
    z-index: 10;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.3s ease;
}

.dropOpen {
    visibility: visible;
    opacity: 1;
}


.alerthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}


.alerthead h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.alertMessage {
    padding: 16px;
    background-color: #f1f1f1;
    text-align: center;
}

.alertMessage:focus{
    border: 2px solid #005BD3;
    border-radius: 6px;
    outline: none;
}

.alertIcons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.alertIcons button{
    background: none;
    border: none;
}

.alertIcons button:focus{
    border: 2px solid #005BD3;
    border-radius: 6px;
    outline: none;
}

.alertIcons svg {
    border-radius: 8px;
}

.alertIcons svg:hover {
    background-color: #f1f1f1;
}

.alertIcons svg:focus {
    border: 2px solid #005BD3;
}

.storename {
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #303030;
    cursor: pointer;
    position: relative;
    border: none;
}

.storename h3 {
    color: #E3E3E3;
    font-size: 12px;
    font-weight: 500;
}

.storename span {
    border-radius: 6px;
    background: #36FBA1;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 7px;
    color: rgba(0, 0, 0, 0.40);
}

.storename:hover {
    background-color: #616161;
}

.storename:focus{
    background: #656266;
    outline: none;
    border: 2px solid #005BD3;
}




/* Dropdown Collection */
.storeTab {
    position: absolute;
    top: 75px;
    background-color: #fff;
    right: 15px;
    /* display: none; */
    visibility: hidden;
    padding: 6px 0px;
    width: 320px;
    border-radius: 14px;
    border: 1px solid #dbdbdb;
    z-index: 10;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.3s ease;
}

/* .storename:focus + .storeTab,
.storeTab:focus-within {
    display: block;
} */

.storeTab.tabOpen {
    visibility: visible;
    opacity: 1;
}

.storeTab section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.storeTab section hr {
    background: #E1E1E1;
    height: 0.75px;
    border: none;
}


/* .storename[aria-expanded='true'] + .storeTab[role ='menu']{
    display: block;
} */



.top {
    padding: 0px 6px;
}

.collections {
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 8px;
    border-radius: 8px;
    background: #f1f1f1;
    justify-content: space-between;
}

.collections div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collections div span {
    border-radius: 6px;
    background: #36FBA1;
    font-size: 10.5px;
    font-weight: 500;
    padding: 9px 7px;
    color: rgba(0, 0, 0, 0.40);
}

.collections:focus{
    border: 2px solid #005BD3;
    border-radius: 8px;
    outline: none;
}

.collections div h3 {
    color: #303030;
    font-size: 13px;
    font-weight: 600;
}

.allStores {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 8px;
    margin-top: 4px;
}

.allStores:hover{
    background: #f1f1f1;
}

.allStores:focus{
    border: 2px solid #005BD3;
    border-radius: 8px;
    outline: none;
}

.allStores h3 {
    font-size: 13px;
    font-weight: 400;
}

.storeTab ul {
    list-style: none;
}

.storeLink {
    padding: 0px 6px;
}

.storeLink li{
    padding: 6px;
    font-size: 13px;
    font-weight: 400;
}
.storeLink li:focus-within{
    border: 2px solid #005BD3;
    border-radius: 8px;
}

.storeLink li a:focus{
    outline: none;
}
.storeLink li:hover {
    background: #f7f7f7;
}

.account {
    padding: 0px 6px;
}

.account .username {
    font-size: 13px;
    font-weight: 500;
}

.account .email {
    font-size: 12px;
    font-weight: 400;
    color: #616161;
}

.account .info {
    padding: 8px;
}

.account li {
    padding: 6px;
}

.account li {
    font-size: 13px;
    font-weight: 400;
    /* width: 100%; */
}



.account li a{
    outline: none;
    color: #303030;
}

.account li:focus-within{
    border: 2px solid #005BD3;
    border-radius: 8px;
    outline: none;
}
/* Drop Collections End */



/* Main component */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    flex-direction: column;
}

.container {
    width: 800px;
}

.planAlert {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 8px;
    flex-wrap: wrap;
}

.hideAlert {
    display: none;
}

.planAlert p {
    font-size: 13px;
    color: #E3E3E3;
    font-weight: 500;
}

.planAlert span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.planAlert a {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #323232;
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.planAlert a:hover{
    background: #f7f7f7;
}

.planAlert a:focus{
    box-shadow: 0px 0px 0px 2px #005BD3, 0px 0px 0px 1px #FFF, 0px -1px 0px 0px #B5B5B5 inset;
    outline: none;
}

/* .planAlert svg {
    cursor: pointer;
} */

.planClose {
    background: none;
    border: none;
    cursor: pointer;
}

.setup {
    margin-top: 16px;
    padding: 16px;
    background: #fff;
    border-radius: 18px;
}

.setupHead button{
    border: none;
    align-self: flex-start;
    background: none;
    cursor: pointer;
}

.setupHead {
    display: flex;
    justify-content: space-between;
}

.leftHead h3 {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
}

.leftHead h5 {
    font-size: 13px;
    font-weight: 400;
}

.counter {
    font-size: 12px;
    font-weight: 400;
}

.counter-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.counter-container p{
    color: #303030;
    font-size: 12px;
    font-weight: 400;
}



.counter-container span{
    width: 72px;
    height: 4px;
    background: #E3E3E3;
    outline: none;
    border-radius: 8px;
    font-family: Inter;
    position: relative;
}


#range{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    height: 4px;
    position: absolute;
    border-radius:8px ;
}


#range{
    fill: #1A1A1A;
}

input[type=range]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
}







.setupStep {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
}

.setupStep.show{
    max-height: 1000px;
    height: auto;
}

.setupButton{
    padding: 4px; 
    border-radius: 6px;
    border: 2px solid transparent;
}

.setupButton:hover{
    background-color: #f1f1f1;
}

.setupButton:focus{
    border: 2px solid #005BD3;
    outline: none;
    border-radius: 8px;
}

.setupButton svg{
    transition: transform 0.3s ease;
}

.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
  }

.setupStep li {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 12px 8px;
    border-radius: 10px;
    gap: 96px;
    max-height: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.boot{
    cursor: pointer;
}



.boot svg circle{
    transition: stroke-dasharray 0.3s ease;
}

.boot:hover svg circle{
    stroke-dasharray: initial;
}



.setupStep li img{
    display: none;
}

.setupStep li:focus{
    background: #F3F3F3;
    max-height: 500px;
    height: auto;
    outline: none;
}

.setupStep li:focus img{
    display: block;
}

.setupStep li:focus-within img{
    display: block;
}

.setupStep li:focus-within{
    background: #F3F3F3;
    max-height: 500px;
    height: auto;
}

.setupStep li:focus ~ .setupStep li img{
    display: block;
}

.stepRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stepRight button{
    background: none;
    outline: none;
    border: none;
}


.setupStep li h3 {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    color: #303030;
}

.boot{
    position: absolute;
}

.setupStep li h3 span{
    margin-left: 40px;
}


.setupStep li p {
    font-size: 13px;
    font-weight: 500;
    color: #616161;
}

.setupStep li a {
    font-size: 14px;
    font-weight: 500;
    color: #005BD3;
}

.stepButton button {
    padding: 6px 12px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.stepButton .greyBtn:focus{
    box-shadow: 0px 0px 0px 1px #333, 0px 0px 0px 2px  #FFF, 0px 0px 0px 4px  #005BD3;
}

.setupButton{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.plain{
    color: #323232;
    /* margin-left: 16px; */
}

.plain:focus{
    border: 2px solid #005BD3;
    border-radius: 6px;
}

.boot:focus{
    border: 2px solid #005BD3;
    border-radius: 50%;
    display: flex;
    align-items: center;
}



.stepButton .greyBtn {
    color: #F6F3F6;
    border-radius: 6px;
    background: #404040;
    border-top: 1.5px solid rgba(255, 255, 255, 0.20);
    border-right: 1.5px solid rgba(255, 255, 255, 0.20);
    border-left: 1.5px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

/* .rotated{
    transform: rotate(180deg);
} */

.greyBtn:hover {
    background: #2A2A2A;
}

.greyBtn:focus {
    box-shadow: 0px 0px 0px 5px #333, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333;
    outline: none;
}

@media(max-width:820px) {
    .container {
        width: 100%;
    }

    .setup,
    .planAlert {
        border-radius: 0px;
    }

    label {
        width: 350px;
    }

}

@media(max-width:539px) {
    .planAlert {
        gap: 16px;
        position: relative;
    }

    .planAlert svg {
        position: absolute;
        top: 30px;
        right: 10px;
    }

    .setupStep img {
        display: none;
    }
    .setupStep li:focus img{
        display: none;
    }
    .setupStep li:focus-within img{
        display: none;
    }
}

@media(max-width: 750px) {
    header {
        gap: 8px;
    }

    .logoMobile {
        display: block;
    }

    .logoDesktop {
        display: none;
    }

    .storename h3 {
        display: none;
    }

    .storename {
        padding: 2px;
    }

    .drop,
    .storeTab {
        right: 0px;
        margin: 16px;
        top: 60px;
    }


    .notify .notifyButton {
        padding: 6px;
        background: none;
        /* border-radius: 0px; */
    }
}

@media(max-width: 325px){
    header{
        padding: 10px 0px;
        gap: 0px;
    }

    label{
        width: 100px;
    }

    .storeTab{
      width: 200px;
    }
}
